ConsumidorPayPal/ConsumidorPayPal/Service References/PayPalReference/PayPal1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:16351/PayPal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WSPayPal" />
  <xs:element name="pagar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WSPayPal" minOccurs="0" name="transaccion" nillable="true" type="q1:Transaccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pagarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>