ConsumidorPayPal/ConsumidorPayPal/Service References/PayPalReference/PayPal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSPayPal" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSPayPal" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Transaccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contrasenia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaccion" nillable="true" type="tns:Transaccion" />
</xs:schema>